.image
{
  background-position: 50%;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  filter:brightness(0.5);

}
.image_front
{
  background-size: contain;
  background-position: 50%;
  position: absolute;
  height: 100%;
  width: 70%;
  margin-left: 15%;
  background-repeat: no-repeat;

}
.container
{
  position: relative;
  width: 100%;
}
.legal
{
  width: 100%;
  float: left;
  color: White;
  font-family: "Helvetica";
  font-size: 1vw;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
